@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'PingFang SC', 'Microsoft YaHei', 'Noto Sans SC', 'Helvetica Neue', Arial, sans-serif;
}

body {
  /* 优化中文抗锯齿，防止发虚或“豆芽字” */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-sans);
  @apply text-slate-900 bg-white;
}